html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: border-box;
}
.header-wrapper{
    background-color: black;
    color: white;
}


a{
    color: white;
    text-decoration: none;
}